@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@100&display=swap');

:root{
    --orange: hsl(25, 97%, 53%);
    --White: hsl(0, 0%, 100%);
    --LightGrey: hsl(217, 12%, 63%);
    --MediumGrey: hsl(216, 12%, 54%);
    --DarkBlue: hsl(213, 19%, 18%);
    --VeryDarkBlue: hsl(216, 12%, 8%);
    --Weights400: 400; 
    --Weights700: 700; 
    --resolutionMobile: 375px;
    --resolutionLaptop: 1440px;
    --bgBox: linear-gradient(90deg, rgba(31,38,48,1) 41%, rgba(25,32,42,1) 100%);
}

.hide{display: none;}

*{
    font-family: 'Overpass', sans-serif;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-size: 15px;
    background-color: var(--VeryDarkBlue);
    height: 100vh;
    line-height: 1.5em;
    
}

.placement{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.containerBox{
    background: var(--bgBox);
    color: var(--White);
    border-radius: 20px;
    width: 430px;
    height: 380px;
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.titre{
    font-weight: var(--Weights700);
}

.paragraph{
    font-weight: var(--Weights400);
    color: var(--LightGrey);
    width: 380px;
    padding: 10px 0;
}

ul li{
    list-style-type: none; 
    display: inline-block;
}


ul{
    display: flex;
    padding: 10px 0;
    justify-content: space-around;
}

.review{
    text-decoration: none; 
    color: #79818E;
    font-weight: var(--Weights700);
    background-color: #262F38;

    
    cursor: pointer;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    width: 55px;
    height: 55px;

    transition: background, color .5s;
}

.review:hover{
    background-color: var(--orange);
    color: var(--white);
}

.review:focus{
    background-color: var(--LightGrey);
    color: var(--White);
}

.starIcon{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    background-color: #262F38;
    margin-bottom: 30px;
}


button[type='submit']{
    width: 100%;
    border: none;
    background-color: var(--orange);
    color: var(--White);
    border-radius: 20px;
    margin: 10px 0;
    height: 45px;
    font-weight: var(--Weights700);
    cursor: pointer;
    letter-spacing: 4px;
    transition: background, color .5s;
}

button[type='submit']:hover{
    background-color: var(--White);
    color: var(--orange);
}

.thanks{
    text-align: center;
}
.thanks h2{
    margin-top: 30px;
}

.thanks .paragraph{
    width: 300px;
    font-weight: 700;
}

.thanksStyle2{
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.thanksStyle{
    color: var(--orange);
    background-color: #262F38;
    border-radius: 20px;
    width: 180px;
    padding: 5px;
    font-weight: 600;
}


@media (max-width: 375px) {
    .containerBox{
        width: 350px;
    }

    .box{
        width: 300px;
    }

    .review{
        width: 40px;
        height: 40px;
    }
    
}